*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!apps/server/package.json
!apps/server/tsconfig.json
!apps/server/scripts/**
!apps/server/src/**
!apps/server/prisma/**
!packages/config/package.json
!apps/server/docker/Dockerfile
